<section class="container">
  <h1>All inventory</h1>
  <div class="card ">
    {{#each inventories}}
      <div class="inventory block">
          <img src="{{image}}" alt="" />
        <span class="item-name">
          <h2>{{name}}</h2>
        </span>
        <br />
        <span class="item-price">
          <h3>{{price}}</h3>
        </span>
        <br />
        <span class="item-description">
          <h3>{{description}}</h3>
        </span>
        <br />
        <a class="button" href="/stockhome/inventories/{{id}}">View detail</a>
      </div>
    {{/each}}
  </div>
</section>